node_modules
dist/*
!dist/static/
!dist/android-chrome-192x192.png
!dist/android-chrome-512x512.png
!dist/mstile-150x150.png
!dist/favicon-16x16.png
!dist/favicon-32x32.png
!dist/safari-pinned-tab.svg
!dist/favicon.ico
!dist/apple-touch-icon.png
!dist/browserconfig.xml
built-app.css